body {
}

.invisible {
    display: none;
}
#map {
    margin-top: 5px;
    width: 100vw;
    height: 50vh;
    border: solid lightgrey;
    float: left;
}
#getlocationbutton {
    margin-top: 5px;
    background-color: #F18D00;
    color: white;
}
#getWeather {
    margin-top: 5px;
    background-color: #F18D00;
    color: white;
}

.button {
    margin-top: 5px;
    background-color: #F18D00;
    color: white;
}
#latlng {
    margin-top: 5px;
}
#city {
    margin-top: 5px;
}
#tempcontainer{
    font-size: 40px;
}

/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}*/
