body {
}

.invisible{
    display:none;
}

#map {
    margin-top: 10px;
    width: 100vw;
    height: 50vh;
    border: solid lightgrey;
    float: left;
}
#getlocationbutton {
    margin-top: 10px;
}